# Dependencies
node_modules/

# Build output
dist/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor folders/files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# Local server cache
*.local

# lock file (optional — se você quiser forçar reinstalaçāo fresca sempre)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
